* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: top;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}


/* main-style */

body {
    font-size: 15px;
    color: #777777;
    font-weight: 300;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    overflow: hidden;
    position: relative;
}

p {
    margin: 0 0 10px;
}

section {
    padding: 65px 0;
}

@media screen and (max-width: 1024px){
    section {
    padding: 35px 0;
    }
}

@media screen and (max-width: 767px){
    section {
        padding: 15px 0 0;
    }
}
.container {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
}

h1,
h2 {
    font-family: 'dosisregular';
    text-transform: uppercase;
}

h2 {
    font-size: 18px;  
    color: #111;
    margin: 0 0 70px;
    letter-spacing: 3px;
}

@media screen and (max-width: 1024px) {
    h2 {
    margin: 0 0 30px;
    }
}

@media screen and (max-width: 767px) {
    h2 {
    margin: 0 0 15px;
    }
}
/* header-start */
#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    z-index: 1;
}

.logo {
    display: block;
    width: 120px;
    padding: 0 10px 0;
}

.nav-list {
    display: flex;
}

.nav-list li {
    margin: 0 34px 0;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nav-list li a {
    color: #fff;
    opacity: 0.7;
    translate: all 0.3s;
}

.nav-list li a:hover {
    opacity: 1;
}

.nav-list li:last-child {

    margin: 0;
}


#header.fixed-header {
    position: fixed;
    z-index: 5;
    background-color:#000;
}

#bars-btn {
    font-size: 25px;
    color:#fff;  
    cursor: pointer;
    display: none; 
    position: absolute;
    top: 35%;
    right: 21px; 
}

.nav-show #menu {
    display: block;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    background-color: #000;
    width: 90%;
    padding: 20px;
    z-index: 5;
}

.nav-show .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-show .nav-list li {
    margin: 0 0 10px;
}

@media screen and (min-width: 768px){
    .animation-scale {
        animation-name: scale;
        animation-duration: 1s;
    }
    
    @keyframes scale {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
    
}
@media screen and (max-width: 767px) {
    #menu {
        display: none;
    }

    #bars-btn {
        display: block;  
    }
    
}
/* header-end */

/* main-banner-start */
.main-banner {
    height: 100vh;
    background-size: cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-banner h1 {
    color: #fefefe;
    font-size: 30px;
    margin: 0 0 95px;
}

.main-banner h1 span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px;
    letter-spacing: 20px;
}

.main-slogan {
    max-width: 845px;
    width: 100%;
    padding: 0 10px;
    text-align: center;
}

.main-slogan-subtitle {
    font-size: 18px;
    color: #fefefe;
    opacity: 0.6;
    font-weight: 300;
}

.btn-back-to-about {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%);
}

.btn-back-to-about a:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: rotate(45deg);
    border-radius: 2px;
}
.btn-back-to-about .svg-inline--fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .btn-back-to-about a {
    position: relative;
    display: block;
    width: 27px;
    height: 27px;
    text-align: center;
    transition: all 0.3s;
}

.btn-back-to-about a::before {
    content: "";
    position: absolute;
    display: block;
    background-color:#fff;
} */

#btn-back-to-about:before {
    position: absolute;
    content: " ";
    width: 30px;
    height: 30px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 2px;;
}

@media screen and (max-width: 1024px){
    .main-banner {
        height: 80vh;
    }
}
@media screen and (max-width: 767px) {
    .main-banner {
        height: 60vh;
    }

    .main-banner h1 {
        margin: 0 0 40px;
    }

    .btn-back-to-about {
        bottom: 20px;
    }
}
/* main-banner-end */

/* about-studio-start */

.about-studio-description {
    margin: 0 0 100px;
}

.about-studio-description .row {
    display: flex;
    margin: 0 -30px;
}

.about-studio-description .col {
    width: 33.31%;
    padding: 0 30px;
}

blockquote {
    font-size: 24px;
    line-height: 38px;
    font-family: 'Open Sans', sans-serif;
    color: #777;
}

blockquote cite {
    font-size: 11px;
    text-transform: uppercase;
}

blockquote p {
    margin: 0 0 25px;
}

@media screen and (max-width: 767px) {
    blockquote {
        font-size: 18px;
        line-height: 28px;
    }

    blockquote p {
        margin: 0;
    }
}

.card-flip .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.card-flip .col {
    width: 33.31%;
    padding: 0 15px;
}

#card-first,
#card-second,
#card-third {
    height: 430px;
}

.front .img-outer {
    height: 100%;
    width: 100%;
}

/* .img-outer img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    height: 100%;
} */

.back {
    background-color: #000;
}

.back-description {
    padding: 40px;
    color: rgba(255, 255, 255, .5);
    font-size: 13px;
}

.back-description p {
    margin: 0 0 40px;
    line-height: 20px;
}

.back-title {
    display: block;
    font-size: 18px;
    color: #fff;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-family: 'dosisregular';
    letter-spacing: 4px;
}

.skill-wrapper {
    margin: 0 0 15px;
}

.skill-wrapper span {
    display: block;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 12px;
    background-color: #363636;
}

.progress {
    position: absolute;
    background-color: #cdcdcd;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80%;
}

.data-person {
    color: #000;
    width: 100%;
    text-align: center;
    padding: 20px;
}

/* media-query about-studia start*/

@media screen and (max-width: 1024px) {

    .about-studio-description {
        margin: 0 0 50px;
    }

    .about-studio-description .row {
        margin: 0 -10px;
    }

    .about-studio-description .col {
        padding: 0 10px;
    }

    .card-flip .row {
        display: block;
    }

    .card-flip .col {
        width: 100%;
        margin: 0 0 15px;
    }

    .card-outer {
        max-width: 350px;
        margin: 0 auto;
    }

    .card-flip .col:last-child {
        margin: 0;
    }

  }

  @media screen and (max-width: 767px) {
    .about-studio-description {
        margin: 0 0 25px;
    }

    .about-studio-description .row {
        display: block;
    }

    .about-studio-description .col {
        width: 100%;
        margin: 0 0 10px;
    }

    #card-first,
    #card-second,
    #card-third {
        height: auto;
    }

    .back-description {
        overflow-y: scroll;
        height: 300px;
        padding: 15px;
    }

    .back-description p {
        margin: 0 0 15px;
    }

    .back-title {
        margin: 0 0 10px;
    }

    .skill-wrapper {
        margin: 0 0 10px;
    }
  }
 
/*  media-query about-studia end */

/* about-studio-end */



/* servises start */

.servises h2 {
    margin: 0 auto 110px;
    padding: 0 10px;
    text-align: center;
}

.tab-outer .ui-widget {
    border:0;
}

.tab-outer ul.servises-tabs-heading{
    border: 0;
    background-color:#fff;
    margin: 0 auto 75px;
    max-width: 1050px;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 2px;
}

.tab-outer .servises-tabs-heading li {
    display: inline-block;
    vertical-align: middle;
    font-family: 'dosisregular';
    text-transform: uppercase;
    margin: 0 40px 0;
    border: 0;
    background-color:#fff;
    float: none;
}

.tab-outer .servises-tabs-heading li i {
    display: block;
    margin: 0 0 25px;
    font-size: 48px;
}

.tab-outer .servises-tabs-heading li a {
    padding: 0;
    color: #111;
    outline: none;
    opacity: 0.5;
    transition: all 0.3s;
}

.tab-outer .servises-tabs-heading .ui-tabs-active a {
    color: #111;
    opacity: 1;
}

.servises-content .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.servises-content .col {
    width: 33.31%;
    padding: 0 15px;
}

.servises-content-text {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #777;
}

@media screen and (max-width: 1024px){

    .servises h2 {
        margin: 0 auto 50px;
    }

    .tab-outer ul.servises-tabs-heading {
        max-width: 1024px;
        margin: 0 auto 30px;
    }

    .tab-outer .servises-tabs-heading li {
        margin: 0 10px;
        float: none;
    }

}

@media screen and (max-width: 767px){
    .tab-outer ul.servises-tabs-heading {
        font-size: 12px;
    }

    .tab-outer .servises-tabs-heading li {
        width: 115px;
    }

    .tab-outer .servises-tabs-heading li i {
        font-size: 32px;
    }

    .tab-outer .servises-tabs-heading li a {
        width: 100%;
    }

    .servises-content .row {
        display: block;
    }

    .servises-content .col {
        width: 100%;
        margin: 0 0 15px;
        padding: 0;
    }
}
/* servises end */

/* looking start */
.looking {
    padding: 0;
    background-color: #000;
    margin: 0 0 65px;
}

.looking .row {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0 -53px;
    padding: 0 0 55px;
}

.looking .col {
    width: 50%;
    padding: 0 53px;
}

.looking-item {
    color:#fff;
}

.looking-item p {
    margin: 0 0 35px;
    opacity: 0.5;
}

.looking-item h2 {
    color: #fff;
    opacity: 0.5; 
    font-weight: 300;
    margin: 0 0 20px;
}

.btn-lets-talk {
    display: block;
    max-width: 170px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #111;
    background-color: #cfcfcf;
    padding: 13px 10px;
    border-radius: 2px;
}

.looking img {
    display: block;
    margin: -20px 0 0;
}

@media screen and (max-width: 1024px){

    .looking {
        margin: 0 0 30px;
    }

}

@media screen and (max-width: 767px){
    .looking {
        padding: 30px 0 0;
    }

    .looking .row {
        display: block;
        margin: 0;
    }

    .looking .col {
        width: 100%;
        padding: 0;
        margin: 0 0 40px;
    }

    .looking .col:last-child {
        margin: 0;
    }

    .looking img {
        margin: 0 auto;
    }

    .btn-lets-talk {
        margin: 0 auto;
    }
}
/* looking end */

/* portfolio-start */

.portfolio {
    padding: 65px 0 0;
}

.heading {
    max-width: 776px;
    width: 100%;
    margin: 0 auto 70px;
    padding: 0 10px;
    text-align: center;
}

.portfolio-tabs-heading {
    margin: 0 auto 45px;
    max-width: 620px;
    width: 100%;
    padding: 0 10px;
    text-align: center;
}

.portfolio-tabs-heading li {
    display: inline-block;
    vertical-align: middle;
    font-family: 'dosisregular';
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 60px 0 0;
}

.portfolio-tabs-heading li a {
    color: #111;
    outline: none;
    opacity: 0.5;
    transition: all 0.3s;
}

.portfolio-tabs-heading .ui-tabs-active a {
    color: #111;
    opacity: 1;
}

.portfolio-tab-description .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
}

.portfolio-tab-description .col {
    width: 33.31%;
    padding: 0 4px;
}

.tab-img {
    padding: 35% 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    transition: all 0.3s;
}

.tab-img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
    cursor: pointer;
    position: relative;
    z-index: 3;
}

/* media-query portfolio-start */

@media screen and (max-width: 1024px) {
    .portfolio {
        padding: 30px 0 0;
    }

    .heading {
        margin: 0 0 30px;
    }

    .portfolio-tabs-heading {
        margin: 0 auto 25px;
    }

}

@media screen and (max-width: 767px){
    .portfolio-tab-description .col {
        width: 50%;
    }

    .portfolio-tabs-heading li {
        margin: 0 20px 0 0;
    }
}


/* media-query portfolio-end */

/* portfolio-end */

/* like our work start */

.like-our-works {
    padding: 0;
    background-color:#000;
    margin: 0 0 65px;
}

.like-our-works .container {
    max-width: 330px;
    width: 100%;
    padding: 60px 10px;
    margin: 0 auto;
}

.like-our-works h2 {
    margin: 0 0 20px 0;
    color: #fff;
    font-weight: 300;
    text-align: center;
    letter-spacing: 4px;
}

.btn-start-prodject {
    display: block;
    max-width: 215px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 10px;
    margin: 0 auto;
    background-color: #cfcfcf;
    border-radius: 2px;
}

@media only screen and (max-width: 1024px) {
    .like-our-works {
        margin: 0 0 35px;
    }
}
/* like our work end */

/* why-choose-us-description start */

.choose h2 {
	text-align: center;
	font-weight: 500;
}

.choose .row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -25px;
}

.choose .col {
	width: 33.31%;
	padding: 0 20px;
	margin: 0 0 80px;
}

.choose-item i {
	display: block;
	font-size: 49px;
	text-align: center;
	margin: 0 0 30px;
	color: #111;
}

.choose-item .title {
	display: block;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 35px;
	letter-spacing: 3px;
	color: #111;
}

@media only screen and (max-width: 1024px) {
    .choose {
        padding: 0;
    }

    .choose .col {
        width: 50%;
        margin: 0 0 30px;
    }

}
@media only screen and (max-width: 767px) {
    .choose .row {
        display: block;
        margin: 0 auto;
    }

    .choose .col {
        width: 100%;
        padding: 0;
        margin: 0 0 30px;
    }

    .choose-item .title {
        margin: 0 0 20px;
    }
    .choose-item i {
        font-size: 35px;
        margin: 0 0 10px
    }
}

/* why-choose-us-description end */

/* contact-start */

.contact .container {
    max-width: 795px;
    margin: 0 auto 65px;
}

.contact h2 {
    text-align: center;
}

.contact-list {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px 78px;
}

.contact-list li {
    width: 33.31%;
    padding: 0 10px;
}

.contact-list-inner {
    max-width: 200px;
    width: 100%;
    display: flex;
    align-items: center;
}

.contact-list-inner .icon {
    width: calc(40px - 15px);
    margin-right: 15px;
    position: relative;
}

.contact-list-inner .icon:before {
    position: absolute;
    content: " ";
    width: 30px;
    height: 30px;
    background-color: #111;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 2px;
}

.icon .svg-inline--fa {
    color: #fff;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-list-title {
    color: #777;
    font-family: 'dosisregular';
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    line-height: 1;
}

.contact-list-description {
    color: #444;
}

.contact-list-description address {
    font-style: normal;
}

.form-contact .row {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
}

.form-contact .col {
    width: 50%;
    padding: 0 5px;
}

.form-contact input[type="submit"] {
    margin-left: auto;
}

@media screen and (max-width: 1024px) {
    .contact .container {
        margin: 0 auto 35px;
    }
    .contact-list {
        margin: 0 -10px 30px;
    }
}

@media screen and (max-width: 767px) {
    .contact h2{
        margin: 0 0 25px;
    }

    .contact-list {
        margin: 0 0 30px;
        display: block;
    }

    .contact-list li {
        width: 100%;
        margin: 0 0 25px;
    }

    .contact-list li:last-child {
        margin: 0;
    }

    .form-contact .row {
        display: block;
    }

    .form-contact .col {
        width: 100%;
    }

    .form-contact input[type="submit"]{
        margin: 0 auto;
    }
}
/* contact-end */


/* what-people-say-star */

.what-people-say {
    background-color: #020202;
    height: 480px;
    padding: 0;
}

.slider-blockquote {
    max-width: 750px;
    padding: 0 10px;
    margin: 0 auto;
}

.single-item {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-track {
    display: flex;
    align-items: center;
}

.icon {
    margin: 0 0 20px;
}

.icon i {
    font-size: 35px;
}

.slider-blockquote-title {
    display: block;
    font-size: 18px;
    font-family: 'open_sanslight';
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    margin: 0 auto 30px;
}

.slider-blockquote {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.slider-blockquote p {
    margin: 0 0 20px;
}

.slider-blockquote cite {
    font-size: 11px;
    text-transform: uppercase;
    opacity: 0.8;
    font-style: normal;
}


/* slick-dots */
.single-item.slick-slider.slick-dotted {
    margin: 0;
}

.slick-slider {
    position: relative;
}

.slick-slider .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}

.slick-slider .slick-dots li button {
    background-color: #ccc;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.slick-slider .slick-dots li.slick-active button {
    width: 10px;
    height: 10px;
    background: transparent;
    border: 1px solid #fff;
}

.slick-slider .slick-dots li {
    width: auto;
    height: auto;
    margin: 0 4px 0 0;
}

.slick-slider .slick-dots li button:before {
    content: " ";
}


/* slick-dots end */


/* slick-prev-nex-start */

.slick-slider .slick-prev {
    left: 0;
    z-index: 999;
}

.slick-slider .slick-prev:before {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "\f105";
    color: #000;
    z-index: 10;
    margin: 0 0 0 -10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.slick-slider .slick-prev:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 0 45px 40px;
    border-color: transparent transparent transparent #fff;
}

.slick-slider .slick-next {
    right: 0;
    z-index: 999;
}

.slick-slider .slick-next:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "\f104";
    color: #000;
    z-index: 10;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.slick-slider .slick-next:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 40px 45px 0;
    border-color: transparent #fff transparent transparent;
}

/* @media-what-people-say-start */
@media screen and (max-width: 1024px) {
   .what-people-say {
       height: 100%;
       padding: 20px 0;
   }
   
    .icon {
        margin: 0 0 10px;
    }

    .slider-blockquote {
        max-width: 500px;
        font-size: 16px;
        line-height: 28px;

    }

    .slick-slider .slick-dots {
        bottom:10px;
    }

    .slider-blockquote-title {
        margin: 0 0 15px;
    }
}

@media screen and (max-width: 767px) {
    .slider-blockquote {
        width: 300px;
    }
}
/* @media-what-people-say-end */

/* what-people-say-end */

/* latest-news start */

.latest-news {
    padding: 130px 0;
}

.latest-news .container {
    position: relative;
}

.latest-news h2 {
    font-weight: 500;
}

.all-news {
    position: absolute;
    top: 0;
    right: 10px;
    color: #999;
    font-size: 11px;
    font-family: 'dosisregular';
    text-transform: uppercase;
}

.all-news:after {
    content: "\f105";
    margin: 0 0 0 5px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.latest-news .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.latest-news .col {
    width: 33.31%;
    padding: 0 15px;
}

.post-img {
    padding: 20% 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    transition: all 0.3s;
    margin: 0 0 30px;
}

.post-img:hover {
    filter: grayscale(0%);
    transform: scale(1);
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.post-title {
    font-family: 'dosisregular';
    text-transform: uppercase;
    margin: 0 0 20px;
    letter-spacing: 3px;
}

.post-name {
    margin: 0 0 15px;
    font-size: 11px;
    font-family: 'dosisregular';
    color: #999;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.post-name span {
    padding: 0 10px 0 0;
}

time {
    border-left: 2px solid #999;
    padding: 0 0 0 10px;
}

.post p {
    margin: 0 0 25px;
}
.post-btn {
    width: 100%;
    max-width: 120px;
    padding: 8px 10px;
    text-transform: uppercase;
    font-size: 11px;
    color: #777;
    border-radius:2px;
    background-color:#e5e5e5;
}
.post-btn:after {
    content: "\f105";
    margin: 0 0 0 5px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

@media screen and (max-width: 1024px){
    .latest-news {
        padding: 35px 0;
    }
}

@media screen and (max-width: 767px) {
    .latest-news .row {
        display: block;
    }

    .latest-news .col {
        width: 100%;
        margin: 0 0 20px;
    }

    .latest-news .col:last-child {
        margin: 0;
    }
}
/* latest-news end */

/* informed start */
.informed {
    background-color:#f8f8f8;
    margin: 0 0 65px;
}

.informed .container {
    max-width: 430px;
    width: 100%;
}

.informed .container h2{
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.form-informed {
    display: flex;
    margin: 0 0 20px;
}

.form-informed [type="email"] {
    width: 70%;
    margin: 0 5px 0 0;
}

.form-informed [type="email"]:focus {
    outline-color: #e5e5e5;
}

.form-informed [type="submit"] {
    width: 30%;
    border-radius: 2px;
    background-color:#323232;
}

.informed span {
    display: block;
    font-size: 12px;
    text-align: center;
    margin: 0 auto; 
}

@media screen and (max-width: 1024px){
    .informed {
        margin: 0 0 35px;
    }
}
@media screen and (max-width: 767px) {
    .form-informed {
        display: block;
    }

    .form-informed [type="email"] {
        width: 100%;
        margin: 0 0 15px;
    }

    .form-informed [type="submit"] {
        margin: 0 auto;
    }
}

/* informed end */

/* btn-back-to-top */
#btn-back-to-top {
    width: 40px;
    height: 40px;
    background-color:#000;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transition: all 0.3s;
}

#btn-back-to-top.show {
    opacity: 1;
    visibility: visible;
}

/* map start */
.map {
    height: 410px;
    padding: 0;
    margin: 0 0 140px;
}

.map iframe {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .map {
        height: 300px;
        margin: 0 0 65px;
    }
}

/* map end */

/* footer start */

#footer .container {
    max-width: 250px;
    width: 100%;
    margin: 0 auto 58px;
}

#footer .logo {
    display: block;
    width: 78px;
    margin: 0 auto 25px;
}

.footer-social-link {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0 0 110px;
}

.footer-social-link li {
    margin: 0 10px 0 0;
}

.footer-social-link li:last-child {
    margin: 0;
}

.footer-social-link li a {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    margin: 0 6px;
    text-align: center;
    color: #111;
    transition: all 0.3s;
    line-height: 25px;
}

.footer-social-link li a:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border:1px solid #777;
    border-radius: 2px;
    transform: rotate(45deg);
}

#footer span {
    display: block;
    color: #999;
    font-size: 11px;
    text-align: center;
}

span.copirate {
    font-size: 12px;
    font-weight: 500;
    color: #111;
    font-family: 'dosisregular';
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 2px;
}
/* footer end */
